.content {
    height: 100%;
    padding: 0 16px;
    overflow: hidden;
}

.selection {
    position: absolute;
    top: 24px;
    right: 16px;
}
.selectionList {
    position: absolute;
    top: 48px;
    right: 16px;
    display: flex;
    
    align-items: center;
    gap: 4px;


}

.currencyLink {
    cursor: pointer;
    
    &:hover {
        color: blue;
    }
}